.addToFavorites {
  background-color: #d32323;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

.addToFavorites:hover {
  background-color: #a81818;
}
