.businessReview {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.businessReview h2 {
  text-align: center;
  margin-bottom: 15px;
  font-size: 22px;
  color: #333;
}
