.searchResult {
  background: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
}

.btn-secondary {
  background-color: white;
  color: #d32323;
  border: 1px solid #d32323;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-secondary:hover {
  background-color: #f1f1f1;
}
